<div class="banner">
    
    <div class="author-image">
        <img src="{{asset "theme_images/ryan_headshot.jpg"}}">
    </div>
    <div class="site-name">
        <h1>Ryan Medellin</h1>
    </div>

    
    <div class="site-description">
        <p>Producer at Double T 104-3. Opinons are mine, not those of my own.</p>
    </div>

    <section class="share">
            <a class="icon-twitter" href="https://twitter.com/ryan_medellin">
                <span class="hidden">Twitter</span>
            </a>
            <a class="icon-facebook" href="https://www.facebook.com/ryan.medellin.58">
                <span class="hidden">Facebook</span>
            </a>
    </section>


</div>
